<a href="https://colab.research.google.com/github/Kyoyakp/Airbnb-Bookings-Analysis/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

# Data Explore

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd 
import numpy as np

In [67]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Airbnb NYC 2019.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [62]:
df[df["name"].unique()]

     id  ... availability_365
3  3831  ...              194

[1 rows x 14 columns]

In [63]:
len(df["name"].unique())

47906

In [68]:
df[df['name']=='Hillside Hotel']

             id  ... availability_365
24152  19456810  ...               90
24607  19785737  ...              180
26734  21231543  ...              365
26752  21243952  ...              365
26753  21244035  ...              365
26889  21311903  ...              365
26891  21312075  ...              365
26892  21312191  ...              365
26893  21312225  ...              365
26894  21312283  ...              355
26895  21312330  ...              355
26896  21312403  ...              362
26897  21312440  ...              360
26898  21312495  ...              362
26899  21312549  ...              355
26900  21312595  ...              355
26901  21312687  ...              319
26902  21312732  ...              309

[18 rows x 16 columns]

In [65]:
df["name"].value_counts().head(10)

Hillside Hotel                                18
Home away from home                           17
New york Multi-unit building                  16
Brooklyn Apartment                            12
Loft Suite @ The Box House Hotel              11
Private Room                                  11
Private room                                  10
Artsy Private BR in Fort Greene Cumberland    10
Beautiful Brooklyn Brownstone                  8
Cozy Brooklyn Apartment                        8
Name: name, dtype: int64

In [9]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [10]:
df.drop(["latitude",'longitude'],axis =1,inplace=True)

In [11]:
df.shape

(48895, 14)

# 1. Neighbourhood groups with most neighbourhood

In [20]:
df['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [21]:
df.groupby('neighbourhood_group')["neighbourhood"].count()

neighbourhood_group
Bronx             1091
Brooklyn         20104
Manhattan        21661
Queens            5666
Staten Island      373
Name: neighbourhood, dtype: int64

In [22]:
temp_df = df[df['neighbourhood_group']=="Brooklyn"][['neighbourhood_group',"neighbourhood"]]

In [61]:
print(len(temp_df["neighbourhood"].unique()))
temp_df["neighbourhood"].unique()

47

array(['Kensington', 'Clinton Hill', 'Bedford-Stuyvesant', 'South Slope',
       'Williamsburg', 'Fort Greene', 'Crown Heights', 'Park Slope',
       'Windsor Terrace', 'Greenpoint', 'Bushwick', 'Flatbush',
       'Prospect-Lefferts Gardens', 'Prospect Heights',
       'Brooklyn Heights', 'Carroll Gardens', 'Gowanus', 'Flatlands',
       'Cobble Hill', 'Boerum Hill', 'DUMBO', 'East Flatbush',
       'Gravesend', 'East New York', 'Sheepshead Bay', 'Fort Hamilton',
       'Bensonhurst', 'Sunset Park', 'Brighton Beach', 'Cypress Hills',
       'Bay Ridge', 'Columbia St', 'Vinegar Hill', 'Canarsie',
       'Borough Park', 'Downtown Brooklyn', 'Midwood', 'Red Hook',
       'Dyker Heights', 'Sea Gate', 'Navy Yard', 'Brownsville',
       'Manhattan Beach', 'Bergen Beach', 'Coney Island', 'Bath Beach',
       'Mill Basin'], dtype=object)

In [24]:
temp_df["neighbourhood"].value_counts()

Williamsburg                 3920
Bedford-Stuyvesant           3714
Bushwick                     2465
Crown Heights                1564
Greenpoint                   1115
Flatbush                      621
Clinton Hill                  572
Prospect-Lefferts Gardens     535
Park Slope                    506
East Flatbush                 500
Fort Greene                   489
Sunset Park                   390
Prospect Heights              357
South Slope                   284
Gowanus                       247
Carroll Gardens               233
East New York                 218
Boerum Hill                   177
Kensington                    175
Sheepshead Bay                164
Windsor Terrace               157
Brooklyn Heights              154
Canarsie                      147
Bay Ridge                     141
Borough Park                  136
Cypress Hills                 135
Midwood                       109
Cobble Hill                    99
Downtown Brooklyn              83
Flatlands                      83
Red Hook                       79
Bensonhurst                    75
Brighton Beach                 75
Gravesend                      68
Brownsville                    61
Fort Hamilton                  55
Columbia St                    42
DUMBO                          36
Vinegar Hill                   34
Coney Island                   17
Bath Beach                     17
Navy Yard                      14
Dyker Heights                  12
Bergen Beach                   10
Manhattan Beach                 8
Sea Gate                        7
Mill Basin                      4
Name: neighbourhood, dtype: int64

# 2 Rooms type / cost / count

In [25]:
df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [26]:
price_df['room_type'].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [27]:
price_df = df.loc[:,['price','room_type']]

In [70]:

df.groupby(['neighbourhood_group',"room_type"])['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    127.506596
                     Private room        66.788344
                     Shared room         59.800000
Brooklyn             Entire home/apt    178.327545
                     Private room        76.500099
                     Shared room         50.527845
Manhattan            Entire home/apt    249.239109
                     Private room       116.776622
                     Shared room         88.977083
Queens               Entire home/apt    147.050573
                     Private room        71.762456
                     Shared room         69.020202
Staten Island        Entire home/apt    173.846591
                     Private room        62.292553
                     Shared room         57.444444
Name: price, dtype: float64

In [28]:
price_df.groupby("room_type")['price'].mean()

room_type
Entire home/apt    211.794246
Private room        89.780973
Shared room         70.127586
Name: price, dtype: float64

In [60]:
new0 = price_df[price_df['price']>=1000]
print(len(new0))
new0.groupby("room_type")['price'].mean()

298

room_type
Entire home/apt    2165.156379
Private room       2372.215686
Shared room        1262.500000
Name: price, dtype: float64

In [53]:
new = price_df[~(price_df['price']==0)]
new.groupby("room_type")['price'].mean()

room_type
Entire home/apt    211.810918
Private room        89.809131
Shared room         70.248705
Name: price, dtype: float64

In [54]:
new_ =  new[~(new['price']==10000)]
new_.groupby("room_type")['price'].mean()

room_type
Entire home/apt    211.040346
Private room        89.365086
Shared room         70.248705
Name: price, dtype: float64

In [51]:
new = price_df[~(price_df['price']==10000)]
new.groupby("room_type")['price'].mean()

room_type
Entire home/apt    211.023734
Private room        89.337066
Shared room         70.127586
Name: price, dtype: float64

In [29]:
price_df.groupby("room_type")['price'].max()

room_type
Entire home/apt    10000
Private room       10000
Shared room         1800
Name: price, dtype: int64

In [31]:
price_df.groupby("room_type")['price'].min()

room_type
Entire home/apt    0
Private room       0
Shared room        0
Name: price, dtype: int64

In [30]:
df.head(3)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365

[3 rows x 14 columns]